.header {
  background-color: #f4f4f4;
  padding: 1rem;
  text-align: center;
  border-bottom: 2px solid #ccc;
}

.header__title {
  font-size: 2rem;
  color: #333;
  margin: 0;
  font-family: "Arial", sans-serif;
}
